@import "../variables";

#about-content {
    .row{
        margin-bottom: 5px;
    }
    .about-content{
        text-align: center;
    }
    .about-content.first{
        padding: 10%;
        border: none;
        background: linear-gradient(
        rgba(#2a2f32, 0.69),
        rgba(#2a2f32, 0.69)
        );
        h1{
            color: $color-primary-details !important;
            text-shadow: 4px 2px 4px #0f1011;
            @media screen and (max-width: $break-medium){
                padding-top: 40%;
                font-size: 3rem;
            }
        }
        .header.col.s12.light{
            color: $color-primary !important;
        }
    }
    section.section-about-content.second{
        margin-right: auto;
        margin-left: auto;
        padding: 0% 5% 3% 3%;
        color: black;
        border-radius: 5px;
        @media screen and (max-width: $break-medium) {
            width: 99%;
            padding: 2% 2% 2% 2%;
        }
    }
    .col.grid-example.about-content.third{
        padding-bottom: 5%;
        background: #61aae8;
        figure {
            position: relative;
            overflow: hidden;
            margin-bottom: 5%;
            cursor: pointer;
            text-align: center;
            background: #3085a3;

            img {
                position: relative;
                display: block;
                opacity: 0.9;
            }
            h2 {
                margin: 0;
                letter-spacing: 2px;
                font-size: 2rem;
                font-weight: 300;
            }
            p, a {
                margin: 3%;
                letter-spacing: 0px;
            }
            a {
                padding-left: 5%;
            }
            h2 span {
                letter-spacing: 0px;
                font-weight: 800;
            }
            i {
                transition: all 0.3s ease;
                color: $color-primary;
                font-size: 2rem;
                &:hover {
                    transform: scale(1.2);
                    color: $color-primary-btn;
                }
            }
            figcaption {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 5%;
                text-transform: uppercase;
                color: $details-grey;
                font-size: 1em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                &:after {
                    pointer-events: none;
                }
                &:before {
                    pointer-events: none;
                }
            }
        }
        .our-team-heading {
            padding-top: 4%;
            text-align: center;
            letter-spacing: 5px;
            color: $color-primary;
            animation-duration: 1.5s !important;
        }
        .about-article-first{
            margin: 0 auto;
            p{
                color: $color-primary;
                font-size: 1.2rem !important;
                line-height: 25px;
                padding: 0 5%;
                padding-top: 2%;
            }
        }
        .is-hidden,
        .is-visible {
            opacity: 1;
        }
        .contact-icons{
            i{
                padding-right: 3%;
            }
            a{
                font-size: 2rem;
            }
        }
    }
    .col.s12.m6.l6.section-about-content.fourth.one{
        padding: 10%;
        text-align: left;
        h4 {
            letter-spacing: 5px;
        }
        ul{
            padding-top: 6%;
        }
        li{
            font-size: 1rem;
        }
        a{
            color: inherit;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .col.s12.m6.l6.section-about-content.fourth.two{
        padding: 5%;
        text-align: left;
        .formContainer{
            padding: 3%;
            border: 1px lightgrey solid;
            border-radius: 5px;
            background-color: white;
            font-size: 1.2rem;
        }
        label.active{
            transform: translateY(-50%);
        }
        label {
            top: 0;
        }
        .btn{
            height: 30px;
            border-radius: 3px;
            line-height: 30px;
        }
        .btn, btn:hover, .btn-large:hover{
            background-color: $color-primary-details;
        }
    }
    #about-formContainer-success{
        margin-top: 10px;
        font-weight: bold;
    }
}

figure.effect-lexi {
    background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
    background: linear-gradient(-45deg, #000 0%,#fff 100%);
}
figure.effect-lexi img {
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    max-width: none;
    margin: -10px 0 0 -10px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    opacity: 0.9;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure.effect-lexi figcaption::before,
figure.effect-lexi p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-lexi figcaption::before {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 20rem;
    height: 20rem;
    content: '';
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
}
figure.effect-lexi:hover img {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 0.6;
}
figure.effect-lexi h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(5px,5px,0);
    transform: translate3d(5px,5px,0);
    text-align: left;
}
figure.effect-lexi p{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    padding: 0 1.5em 1.5em 0;
    -webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);
    text-align: right;
    opacity: 0;
}
figure.effect-lexi:hover figcaption::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    opacity: 1;
}
figure.effect-lexi:hover h2,
figure.effect-lexi:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

.team-photos {
    animation-duration: 1.5s !important;
}
.tech-info {
    animation-duration: 1.5s !important;
}
#tech-logos {
	margin-top: 2%;
    animation-duration: 1.5s !important;
	.tech2 {
		@media screen and (max-width: 599px) {
			margin-top: -10%;
		}
	}
	.tech4 {
		@media screen and (max-width: 599px) {
			margin-top: 15%;
		}
	}
	.tech5 {
		@media screen and (max-width: 599px) {
			margin-top: 15%;
		}
	}
	div {
		height: 180px;
		margin-left: 3%;
		@media screen and (max-width: 992px) {
			margin-left: 0;
			margin-top: 5%;
    		margin-bottom: 5%;
		}
		img {
			@media screen and (min-width: 992px) {
				padding: 0 10px;
			}
			@media screen and (max-width: 992px) {
				transform: scale(0.7);
				margin: 0 auto;
			}
			-webkit-filter: grayscale(1);
  			filter: grayscale(1);
			&:hover {
				-webkit-filter: none;
  				filter: none;
			}
		}
	}
}
