@import "../variables";

.chat-holder {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 17px 0 rgba(0, 0, 0, 0.22) !important;
}

// Chat component
.chat {
    background: white;
    position: relative;
    z-index: 0;

    .collection {
        border-bottom: 0;
    }
    
    .collection .collection-item {
        padding: 7px 10px;
        position: relative;
        min-height: 0;
        border-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .form {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        position: relative;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .btn-large {
        letter-spacing: 2px;
        height: 40px;
        line-height: 30px;
        margin-right: 10px;
        margin-top: 10px;
        transition: 0.2s all ease-in-out;
        &:hover {
            letter-spacing: 4px;
        }
    }
    .message-username {
        font-weight: bold;
    }
    .message-user-one {
        background: $color-message-one;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 10px;
        border-radius: 12px;
        border-bottom-left-radius: 0px;
        
    }
    .message-user-two {
        background: $color-message-two;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 10px;
        border-radius: 12px;
        border-bottom-right-radius: 0px;
    }
    .secondary-content {
        right: 28px !important;
        top: 4px !important;
    }
   
}


// Chat header
.chat-header {
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 4rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    h6 {
        margin-top: 21px;
        font-weight: bold;
        font-size: 18px;
    }
}


// Chat message
.chat-message {
    min-height: 450px;
    max-height: 450px;
    overflow-y: scroll;
    h5 {
        font-size: 18px;
    }
}

// Chat form
.chat-form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e0e0e0;
    input[type=text] {
        padding-top: 10px;
    }
}

// Chat info komponent
.chat-info {
    background: white;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 17px 0 rgba(0, 0, 0, 0.22) !important;
    border-radius: 4px;
    position: relative;
    right: 10% !important;
    width: 33% !important;    
    .chat-info-wrapper {
        margin: 0;
        .collection-item {
            padding-bottom: 12px;
            padding-top: 12px;
            padding-left: 12px;
            span {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}
.job-info-buttons {
    .collection-item {
        display: flex;
        justify-content: space-around;
        .btn {
            padding: 0 1rem;
            z-index: 0;
            width: 40%;
        }
        .red {
            &:hover {
                background: #ef9a9a !important;
            }
        }
    }
}


// download document button
.button-doc {
    height: 100px;
    line-height: 100px;
    z-index: 0;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 7px 10px 0 rgba(0, 0, 0, 0.22) !important;
}

// mobile document download button
.mobile-download-btn {
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.info-icon {
    font-size: 2.3rem !important;
    padding-left: 10px;
    padding-right: 40px;
    line-height: 1.8 !important;
    cursor: pointer;
}

.chat-title {
    margin-left: auto;
    margin-right: auto;
}

.smiley-pop {
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.3s ease !important;
    :hover {
        transform: scale(1.1);
    }
}

.collection {
    margin: 0.0rem 0 1rem 0; 
}
.chat-row {
    margin-bottom: 0;
    .col {
        padding: 0 0 0rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .chat-row {
        margin-right: 70px !important;
    }
    .smiley-pop {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .step-by-step {
        display: none;
    }
}