@import "../variables";

.chat-holder {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 17px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px;
}

// Chat component
.chat {
    background: white;
    position: relative;
    z-index: 0;
    h5 {
        margin-top: 1.5rem;
    }
    .collection {
        border-bottom: 0;
        border: none;
        border-radius: 0;
        border-top: 1px solid #e0e0e0;
    }
    .collection .collection-item {
        padding: 7px 10px;
        position: relative;
        min-height: 0;
        border-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        clear:both;
    }
    .form {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        position: relative;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .btn-large {
        letter-spacing: 2px;
        height: 40px;
        line-height: 30px;
        margin-right: 10px;
        margin-top: 10px;
        transition: 0.2s all ease-in-out;
        width: 30%;
        padding: 0!important;
        &:hover {
            letter-spacing: 4px;
        }
    }
    
    .message-user-one {
        background: $color-message-one;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 10px;
        border-radius: 15px;
        border-bottom-left-radius: 2px;
        min-height: 45px;
        min-width: 100px;
        overflow: auto;
        transition: all 0.35s ease !important;
        &:hover {
            transform: translateX(10px);
        }
        p {
            white-space: pre-wrap;
            word-break: break-all;
            font-size: 1rem;
            padding-top: 5px;
            padding-bottom: 3px;
            word-break: break-word;
        }
        .message-username {
            font-weight: bold;
        }
        .secondary-content {
            position: relative !important;
            top: 0 !important;
            right: 0 !important;
            font-size: 12px;
            overflow: auto;
            padding-left: 11px;
            color: #34bdff;
        }
        
        
    }
    .message-user-two {
        background: $color-message-two;
        padding-left: 13px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 5px;
        border-radius: 15px;
        border-bottom-right-radius: 2px;
        min-height: 45px;
        min-width: 100px;
        overflow: auto;
        color: white;
        transition: all 0.35s ease !important;
        &:hover {
            transform: translateX(-10px);
        }
        p {
            font-size: 1rem;
        }
        .secondary-content {
            float: none;
            position: relative !important;
            top: 0 !important;
            right: 0 !important;
            font-size: 12px;
            overflow: auto;
            padding-right: 10px;
            color: #d2d2d2;
        }
        .message-username {
            float: right;
            padding-right: 10px;
        }
        p {
            white-space: pre-wrap;
            word-break: break-all;
            word-break: break-word;
            position: relative;
            line-height: 20px;
            float: right;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 3px;
        }  
    }   
    .list-user-one {
        float: left;
    }
    .list-user-two {
        float: right;
    }
    
}


.chat-holder {
    #modal1 {
        .cancel-icon {
            position: absolute;
            right: 14px;
            top: 8px;
            z-index: 999999999;
            font-size: 32px;
            color: #6b6b6b;
            font-weight: 100;
        }
        @media screen and (max-width: 500px) {
            width: 100%;
            height: 100vh;
            top: 0 !important;
            max-height: none !important;
            background: white;
        }
        .modal-content {
            .chat-info {
                .chat-info-wrapper {
                    height: auto !important;
                    min-height: 530px !important;
                    overflow-y: inherit !important;
                    @media screen and (max-width: 500px) {
                        .job-info-buttons {
                            border-top: none !important;
                        }
                    }
                }
            }
        }   
    }
    
}

// Chat header
.chat-header {
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 4rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    h6 {
        margin-top: 17px;
        font-weight: bold;
        font-size: 18px;
    }
    a {
        i {
            position: absolute;
            color: $color-primary-btn !important;
        }
    }
}


// Chat message
.chat-message {
    overflow-y: scroll;
    @media screen and (max-width: 450px) {
        height: calc(100vh - 173px);
    }
    @media screen and (min-width: 451px) {
        height: calc(100vh - 173px);
    }
    @media screen and (min-width: 600px) {
        height: calc(100vh - 24rem);
    }
    h5 {
        font-size: 18px;
    }
}
.chat-buddy {
    @media screen and (min-width: 601px) {
        height: calc(100vh - 18rem);
    }
}

.chat-holder-buddy {
    .chat-header {
        @media screen and (max-width: 993px) {
            .chat-title {
                padding-left: 5%;
            }
        }
    }
    @media screen and (min-width: 601px) {
        margin-top: 11.5px;
    }
}
// Chat form
.chat-form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e0e0e0;
    input[type=text] {
        padding-top: 10px;
    }
}

// Chat info komponent
.chat-info {
    h6 {
        margin-top: 7.5px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .chat-info-wrapper-buddy {
        height: calc(100vh - 8.9rem) !important;
        overflow-y: hidden !important;
        @media screen and (max-height: 690px) {
            overflow-y: scroll !important;
        }
        .job-info-buttons {
            padding-top: 7px !important;
            padding-bottom: 7px !important;  
        }
    }  
    .chat-info-wrapper {
        border: none;
        background: white;
        border-radius: 5px;
        position: relative;
        margin: 0;
        box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 17px 0 rgba(0, 0, 0, 0.12);
        height: calc(100vh - 14.9rem);
        @media screen and (max-width: 500px) {
            box-shadow: none;
            border-bottom: none;
        }
        @media screen and (max-height: 770px) {
            overflow-y: scroll;
        }
        .collection-item {
            padding-bottom: 12px;
            padding-top: 12px;
            padding-left: 6%;  
            padding-right: 6%;
            border-bottom: 0;
            font-size: 1.1rem;
            span {
                font-weight: bold;
                margin-right: 5px;
            }
        }
        .collection-header {
            padding-left: 12px;
            margin-bottom: 10px;
        }
    }
}
.chat-info-buddy {
    @media screen and (min-width: 601px) {
        margin-top: 21px;
        
    } 
}
.job-info-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    .collection-item {
        display: flex;
        justify-content: space-around;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        .btn {
            padding: 0 1rem;
            z-index: 0;
            width: 40%;
            height: 50px;
            line-height: 3.5;
        }
    }
}


// download document button
.button-doc {
    margin: 0px auto;
    z-index: 0;
    height: 50px;
    line-height: 3.5;
    width: 90%;
}

// mobile document download button
.mobile-download-btn {
    margin-right: 10px;
    margin-top: 7px;
    padding: 0;
    width: 30%;
}

.info-icon {
    font-size: 2.3rem !important;
    padding-left: 10px;
    padding-right: 40px;
    line-height: 1.8 !important;
    cursor: pointer;
}

.chat-title {
    margin-left: auto;
    margin-right: auto;
}

.smiley-pop {
    margin-top: 16px;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.3s ease !important;
    :hover {
        transform: scale(1.1);
    }
}

.collection {
    margin: 0.0rem 0 1rem 0; 
}
.chat-row {
    margin-bottom: 0;
    .col {
        padding: 0 0 0rem !important;
    }
}


@media only screen and (max-width: 450px) {
    .step-by-step {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .chat-holder {
        margin-right: 5%;
        margin-left: 2.5%;
    }
    .chat-info {
        margin-left: 5%;
        margin-right: 2.5%;
    }
}