@import "../variables";


.col.grid-example {
    text-align: center;
    line-height: 50px;
    padding: 2%;
    @media screen and (max-width: $break-medium){
        line-height: none;
        padding: 0%;
    }
}

p, h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 30px;
}

a {
    font-size: 14px;
}

.start-page {
    .login-modal {
        width: 500px;
        top: 20vh !important;
        margin-bottom: 50px;
        min-height: 300px;        
        @media screen and (max-height: 40vh) {
            overflow-y: scroll !important;
        }
        @media screen and (max-width: 500px) {
            width: 100%;
            height: 100vh;
            top: 0 !important;
            max-height: none !important;
            
        }
        .modal-content {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 20px;
        }
        .cancel-icon {
            position: absolute;
            right: 14px;
            top: 8px;
            z-index: 999999999;
            font-size: 26px;
            color: #6b6b6b;
            font-weight: 100;
        }
        .btn-floating i {
            font-size: 1.3rem;
            line-height: 30px;
        }
        .breakit {
            margin: 15px 0px;
        }
        .line-break {
            border-bottom: 1px solid #9e9e9e !important;
        }
    }
    .register-modal {
        width: 500px;
        top: 10vh !important;
        max-height: 80vh;        
        @media screen and (max-height: 80vh) {
            overflow-y: scroll !important;
        }
        @media screen and (max-width: 500px) {
            width: 100%;
            height: 100vh;
            top: 0 !important;
            max-height: none !important;
        }
        .modal-content {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0px;
        }
        .cancel-icon {
            position: absolute;
            right: 14px;
            top: 8px;
            z-index: 999999999;
            font-size: 32px;
            color: #6b6b6b;
            font-weight: 100;
        }
        .btn-floating i {
            font-size: 1.3rem;
            line-height: 30px;
        }
        .breakit {
            margin: 15px 0px;
        }
        .line-break {
            border-bottom: 1px solid #9e9e9e !important;
        }
    }
}

.col.grid-example.content-first {
    border: 0;
    background: linear-gradient(
    rgba(#0592e2, 0.69),
    rgba(#0592e2, 0.69)
    ), url("https://static.pexels.com/photos/7075/people-office-group-team.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    @media screen and (max-width: $break-small){
        height: 37vh;
    }

    h1 {
        font-size: 64px;
        padding-top: 15%;
        padding-bottom: 3%;
        color: $text-tertiary;
        text-shadow: 4px 2px 4px #044e78;
        @media screen and (max-width: $break-small){
            font-size: 33px;
            padding-top: 20%;

        }

    }

    .waves-effect.waves-light.btn-large.sign-up {
        border: 1px $color-primary-details solid;
        border-radius: 4px;
        padding-bottom: 2%;
        background-color: white;
        color: rgb(94, 94, 94);
    }

    p{
        color: white;
        padding-bottom: 2%;
        text-shadow: 4px 2px 4px #044e78;
    }

    a{
        font-size: 20px;
        color: white;
        @media screen and (max-width: $break-small){
            font-size: 14px;
        }
    }

}

.btn-floating:hover{
    background-color: $scroll-btn-background;
}

.col.grid-example.content-second{
    margin: 0;
    background-color: white;
    padding-bottom: 2%;
    @media screen and (max-width: $break-medium){
        width: 100%;

        .img-wrapper{
            display: none;
        }
    }
}

.row.two{
    background-color: white;
}

.img-wrapper{
    height: 100%;
    width: 100%;

    img{
        max-height: 100%;
        max-width: 100%;
    }
}

.text-wrapper{
    padding: 6%;

    h4{
        padding-bottom: 6%;
    }
}

.arrow {
    text-align: center;
    padding-top: 20%;
    @media screen and (max-width: $break-small){
        padding-top: 0%;
    }
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

