@import "../variables";

.start-page {
    .parallax.three{
        background-color: $color-primary-details;
    }

    .parallax.two{
        background-color: orange;
    }
    .nav-wrapper{
        @media only screen and (min-width: 601px){
            width: 100%;
        }
    }
    .parallax-container {
        background: linear-gradient(
        rgba(#2a2f32, 0.19),
        rgba(#2a2f32, 0.19)
        );
        height: 75vh;
        img{
            max-width: 100vh;
        }

        .info-two{
            background: orange !important;
        }
        .welcome{
            width: 45%;
            height: 30%;
            padding-top: 5%;
            padding-left: 5%;

            text-align: left;
            .slogan {
                padding-bottom: 8%;

                text-align: left;

                color: $details-grey;
                text-shadow: 4px 2px 4px #313b40;

                font-size: 4rem;
                @media screen and (max-width: $break-small){
                    padding-top: 5%;

                    font-size: 3.5rem;
                }
            }
            .slogan-smaller{
                color: $details-grey;

                font-size: 2.5rem;
                @media screen and (max-width: $break-small){
                    font-size: 2.0rem;
                }
            }
            .arrow {
                padding-top: 20%;
            }
            .sign-up {
                padding-bottom: 2%;

                border-radius: 2%;
                background: none !important;
            }
            a{
                text-decoration: bold;

                color: $details-grey !important;
                @media screen and (max-width: $break-small){
                    font-size: 1rem;
                }
            }
            //default button
            .btn {
                position: relative;

                display: block;

                width: 100%;
                max-width: 160px;
                margin: 0 auto 1em;

                cursor: pointer;
                vertical-align: middle;
                text-decoration: none;
                text-transform: uppercase;

                color: $details-grey;
                box-shadow: none;

                font-size: 1.3rem;
                font-weight: 400;
                line-height: 45px;
                @media(min-width: 500px) {
                    display: inline-block;

                    margin-right: 2.5em;
                    &:nth-of-type(even) {
                        margin-right: 0;
                    }
                }
                @media(min-width: 600px) {
                    &:nth-of-type(even) {
                        margin-right: 2.5em;
                    }
                    &:nth-of-type(5) {
                        margin-right: 0;
                    }
                }
                &:hover { text-decoration: none; }
            }

            /////////////////////////////////
            //button one
            ///////////////////////////////
            .btn-1 {
                background: none;

                font-weight: 100;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 45px;
                }

                rect {
                    fill: none;
                    stroke: $details-grey;
                    stroke-width: 2;
                    stroke-dasharray: 422, 0;
                }
            }
            .btn-1:hover {
                letter-spacing: 1px;

                font-weight: 900;
                rect {
                    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

                    stroke-width: 5;
                    stroke-dasharray: 15, 310;
                    stroke-dashoffset: 48;
                }
            }
        }
    }
    .col.grid-example {
        padding: 2%;

        line-height: 0px;
        @media screen and (max-width: $break-medium){
            padding: 0%;

            text-align: center;

            line-height: 2%;
        }
    }
    p, h1,h2,h3,h4,h5{
        margin: 0;
        padding: 0;
    }
    p {
        font-size: 1rem;
        line-height: 30px;
    }
    a{
        color: $text-primary;
    }
    .login-modal {
        top: 20vh !important;

        width: 500px;
        min-height: 300px;
        margin-bottom: 50px;
        @media screen and (max-height: 40vh) {
            overflow-y: scroll !important;
        }
        @media screen and (max-width: 500px) {
            top: 0 !important;

            width: 100%;
            height: 100vh;
            max-height: none !important;

        }
        a{
            color: $details-grey;
        }
        .modal-content {
            padding-top: 20px;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .cancel-icon {
            position: absolute;
            z-index: 999999999;
            top: 8px;
            right: 14px;

            color: #6b6b6b;

            font-size: 1.8rem;
            font-weight: 100;
        }
        .btn-floating i {
            font-size: 1.3rem;
            line-height: 30px;
        }
        .breakit {
            margin: 15px 0px;
        }
        .line-break {
            border-bottom: 1px solid #9e9e9e !important;
        }
    }

    .register-modal {
        top: 5vh !important;

        width: 500px;
        max-height: 90vh;
        @media screen and (max-height: 80vh) {
            overflow-y: scroll !important;
        }
        @media screen and (max-width: 500px) {
            top: 0 !important;

            width: 100%;
            height: 100vh;
            max-height: none !important;
        }
        .modal-content {
            padding-top: 0px;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .cancel-icon {
            position: absolute;
            z-index: 999999999;
            top: 8px;
            right: 14px;

            color: #6b6b6b;

            font-size: 2.2rem;
            font-weight: 100;
        }
        .btn-floating i {
            font-size: 1.3rem;
            line-height: 30px;
        }
        .breakit {
            margin: 15px 0px;
        }
        .line-break {
            border-bottom: 1px solid #9e9e9e !important;
        }
    }
    .col.grid-example.content-first {
        height: 100vh;
        padding-bottom: 2%;

        border: 0;
        background: linear-gradient(
        rgba(#2a2f32, 0.2),
        rgba(#2a2f32, 0.2)
        ), url("/assets/images/hand.jpg");
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        webkit-background-size: cover;
        @media screen and (max-width: $break-medium){
            height: 100vh;

            background-position: 35%;
        }
        nav.start-nav{
            border-bottom: 1px solid darken($color-navbar-two, 40%);
            background-color: transparent;
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.11), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        }
        .brand-logo{
            position: relative;

            float: left;

            margin-left: 1%;

            font-size: 2rem;
            @media only screen and (max-width: 992px){
                left: 0;

                -webkit-transform: none;
                transform: none;
            }
        }
    }
    .col.grid-example.content-second{
        padding: 5%;

        background-color: $text-primary;
        @media screen and (max-width: $break-medium){
            width: 100%;
        }
    }
    .icon-block{
        text-align: center !important;

        font-size: 5rem !important;
        i{
            padding-top: 5%;

            color: $color-primary-details;

            font-size: 5rem;
        }
        h5{
            color: $color-primary-details;
        }
    }
    .info-wrapper{
        background-color: #f0f0f0; //ändrade - var white innan. Med lätt grå så får vi sektioner på startsidan .sh
    }
    .row.two{
        background-color: $text-primary;
    }
    .card-panel.teal{
        padding: 5% 1% 1% 1%;
        text-align: center;
        background-color: $color-primary !important;
        h5{
            color: $color-primary-details
        }
        img{
            max-width: 100%;
        }
    }
    .img-wrapper{
        width: 100%;
        height: 100%;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .text-wrapper{
        padding: 12%;
        @media screen and (max-width: $break-medium){
            padding: 2%;
        }
        h4{
            padding-bottom: 6%;

            color: $color-primary-details;
        }
    }
    .arrow {
        text-align: left;
    }
    .bounce {
        padding-top: 5%;

        -webkit-animation: bounce 6s infinite;
        -moz-animation: bounce 6s infinite;
        animation: bounce 6s infinite;
        @media screen and (max-width: $break-small){
            padding-top: 0%;
        }
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
}
