@import "../variables";


footer.page-footer{
    background-color: $color-secondary;
    bottom: 0;
    right: 0;
    left: 0;

    .container{
        width: 90%;
        margin-left: 10%;
    }

    .row{
        margin-left: -0.75rem;
        margin-right: 4rem;
    }

    p, a, i {
        color: $text-primary;
    }

    .footer-copyright{
        background-color: $color-tertiary;
    }

}
