@import "../variables";


footer.page-footer{
    background-color: $color-navbar;
    width: 100%;

    .container{
        width: 90%;
        margin-left: 10%;
    }

    .row{
        margin-left: -0.75rem;
        margin-right: 4rem;
    }

    p, a, i {
        color: $text-primary;
    }

    .footer-copyright{
        background-color: $color-navbar;
    }

}
