@import "../variables";

#infowindow {
    width: auto;
    height: 100%;
    overflow: hidden;
	.collection-item.avatar {
		min-height: 0px!important;
		position: relative;
        padding-top: 5px !important;
        padding-left: 0px;
        padding-bottom: 10px !important;
        p, span {
            margin-left: 35px;
        }
        .material-icons {
            left: 0%;
        }
        .title {
            font-size: 15px
        }
	}
    .round-icon-green {
            color: white;
            background-color: #4CAF50;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            position: absolute;
            overflow: hidden;
            left: 15px;
            display: inline-block;
            vertical-align: middle;
        }
        .round-icon-blue {
            color: white;
            background-color: #2196F3;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            position: absolute;
            overflow: hidden;
            left: 15px;
            display: inline-block;
            vertical-align: middle;
        }
        .round-icon-gray {
            color: white;
            background-color: #999;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            position: absolute;
            overflow: hidden;
            left: 15px;
            display: inline-block;
            vertical-align: middle;
        }
}
.infowindow-icon {
	font-size: 24px!important;
}
