@import "../variables";


#joblist, #pending-joblist, #active-joblist {
	background: white;
	.content-for-li {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 6px;
        p:first-child {
            margin-top:5px;
        }
        .job-title-span {
            font-size: 1.2rem; // Justera upp denna om vi ska ha större text för titeln
        }
		#nojobsmessage {
			margin-left: auto;
			margin-right: auto;
			font-size: 1.4rem;
		}
        .apply-btn {
            color: white!important;
            padding: 0;
            width: 77px;
        }
        .apply-btn.disabled {
            opacity: 0.3;
            padding: 0;
            width: 77px;
        }
		
        @media only screen and (min-width: 601px) { //breakpoint för stacked buttons i list stor skärm
            .buttongroup {
                display: inline-flex;
                margin-top: auto;
                margin-bottom: auto;
            }
            p {
                margin: 0.5em 0 0.5em 0;
                padding-right: 1em;
                font-size: 1.2rem;
            }
        }
        @media only screen and (max-width: 600px) { //breakpoint för stacked buttons i list liten skärm
            padding-left: 30px;
            .buttongroup {
                display: inline-grid;
                padding-top: 18px;
                padding-bottom: 10px;
                .btn:first-of-type {
                    margin: 0;
                }
            }
            p {
                .job-title-span {
                    font-size: 1.1rem;
                }
                max-width: 80%;
                margin: 0 0 0 0;
                margin-left: -25px;
                padding-right: 0;
                font-size: 1.1rem;
            }
        }
		.btn:first-of-type {
			margin-right: 0.5rem;
		}
		.btn {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.location-btn {
				background:$color-location-btn !important;		
		}
        .round-icon-green {
            color: white;
            background-color: #4CAF50;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            margin-right: 10px;
            margin-left: 5px;
        }
        .round-icon-blue {
            color: white;
            background-color: #2196F3;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            margin-right: 10px;
            margin-left: 4px;
        }
        .round-icon-gray {
            color: white;
            background-color: #999;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            margin-right: 10px;
            margin-left: 4px;
        }
	}
    
}
#joblist {
    @media only screen and (min-width: 993px) {
        height: calc((100vh - 64px));
    }
    
    .collection-header {
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
    } 
    
}
#jobslistcontainer {
    .row {
        margin: 0;
    }
    .col {
        margin: 0;
        padding: 0;
    }
    .collection {
        margin: 0;
    }
    @media only screen and (min-width: 993px) {
        #map-column {
           margin-top: -10px;
        }
    }
}