@import "../variables";


#joblist, #pending-joblist, #active-joblist {
	background: white;
	.content-for-li {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
		p {
			margin: 0.5em 0 0.5em 0;
			padding-right: 1em;
            font-size: 16px;
		}
		#nojobsmessage {
			margin-left: auto;
			margin-right: auto;
			font-size: 1.4rem;
		}
		.buttongroup {
		display: inline-flex;
		margin-top: auto;
		margin-bottom: auto;
		}
		.btn:first-of-type {
			margin-right: 0.5rem;
		}
		.btn {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.location-btn {
				background-color: $color-location-btn;		
		}
		.location-btn:hover {
				background-color: lighten($color-location-btn, 15%);
		}
        .round-icon-green {
            color: white;
            background-color: #4CAF50;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            margin-right: 10px;
            margin-left: 5px;
        }
        .round-icon-blue {
            color: white;
            background-color: #2196F3;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            margin-right: 10px;
            margin-left: 4px;
        }
        .round-icon-gray {
            color: white;
            background-color: #999;
            border-radius: 50%;
            font-size: 16px!important;
            height: 26px;
            width: 26px;
            line-height: 26px;
            text-align: center;
            margin-right: 10px;
            margin-left: 4px;
        }
	}
}
#joblist {
    height: calc((100vh - 64px)); 
}
#jobslistcontainer {
    .row {
        margin: 0;
    }
    .col {
        margin: 0;
        padding: 0;
    }
    .collection {
        margin: 0;
    }
    @media only screen and (min-width: 993px) {
        #map-column {
           margin-top: -10px;
        }
    }
}