@import "../variables";

.btn-block {
    width: 25%;
}

#loginback {
    background-color: transparent;
    .row .col {
        padding: 0;
    }
    i.small {
        font-size: 1.5rem;
        margin-top: 27px;
    }
    .input-field label {
        left: 0;
    }
    .login-modal-row {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 16px;
        .btn {
            letter-spacing: 3px;
            height: 50px;
        }
    }
}

.btn, .btn-large, .btn:hover, .btn-large:hover, .btn:focus{
    background-color: $scroll-btn-background;
}
