
#myjobslist {
    .row {
        margin: 0;
    }
    .col {
        margin: 0;
        padding: 0;
    }
    .collection {
        margin: 0;
    }
    @media only screen and (min-width: 993px) {
        #map-column {
           margin-top: -10px;
        }
    }
    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }
    #myjobslist-scroller {
        overflow-y: scroll;
        @media only screen and (min-width: 993px) {
            height: calc((100vh - 64px));
        }
        overflow-x: hidden;
        background: white;
    }
    .collection-header {
        background: #e9e9e9;
        color: #575555;
        padding-left: 36px;
    }
    .list-item-delivery {
        border-bottom: 1px solid #2196F3;
    }
    .list-item-pickup {
        border-bottom: 1px solid #4CAF50;
    }
    #pending-joblist, #active-joblist {
        border-bottom: none;
        border-top: none;
    }
    
    #pending-joblist {
        div {
            .collection-item {
                //background: gray; // Styla om pendings på nått sätt?
            }
        }
        
    }
}