
#myjobslist {
    .row {
        margin: 0;
    }
    .col {
        margin: 0;
        padding: 0;
    }
    .collection {
        margin: 0;
    }
    .collection .collection-item {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    #noapplicationmessage {
        margin-right: auto;
        font-size: 1.2rem;
        padding: 8px 8px;
        width: 90%;
    }
    .btn-cancel {
        text-align: center;
        padding: 0 !important;
        width: 100px;
        @media only screen and (max-width: 600px) {
            width: 80px;
        }
    }
    @media only screen and (min-width: 993px) {
        #map-column {
           margin-top: -10px;
        }
    }
    @media only screen and (min-width: 583px) {
        .collection-item {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0px !important;
        }
    }
    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }
    #myjobslist-scroller {
        overflow-y: scroll;
        @media only screen and (min-width: 993px) {
            height: calc((100vh - 64px));
        }
        overflow-x: hidden;
        background: white;
    }
    .collection-header {
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
		h5 {
			font-size: 1.4rem;
		}
    }
    .list-item-delivery {
        border-bottom: 1px solid #2196F3;
    }
    .list-item-pickup {
        border-bottom: 1px solid #4CAF50;
    }
    #pending-joblist, #active-joblist {
        border-bottom: none;
        border-top: none;
        .content-for-li {
            padding-left: 10px;
        }
    }
}