@import "../variables";

nav.main-nav {
    background: linear-gradient(90deg, $color-primary-btn,#3198e6); //$color-primary-details; // $color-navbar-two
    letter-spacing: 2px;
    z-index: 9999999999;
    ul a {
        font-size: 1rem!important;
        text-transform: uppercase;
        transition: all 0.5s cubic-bezier(.26,.24,.39,1.82) !important;
    }

    .brand-logo {
        color: $text-primary;
        font-size: 2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 100;
        @media only screen and (min-width: 992px) {
            margin-left: 20px;
        }
        
    }
    .desktop-nav {
        padding-bottom: 2px;
    }

    .button-collapse {
        padding-left: 4px;
    }

    @media only screen and (min-width: 992px) {
        ul li a {
            padding-left: 39px;
            padding-right: 35px;
        }
    }
    .dropdown-content li > a, .dropdown-content li > span{
        color: $text-secondary;
        font-size: 0.8rem!important;
    }

    .dropdown-content{
        margin-top: 64px;
    }

    .mobile-nav-icon{
        float: left;
    }

    .side-nav a{
        padding: 0 25px;
    }

}