@import "../variables";

nav {
    background-color: $color-primary-details; // $color-navbar-two

    
    .brand-logo {
        color: $text-primary;
    }

    .active,
    a {
        color: $text-secondary;
    }

    .button-collapse {
        padding-left: 4px;
    }
    
    @media only screen and (min-width: 992px) {
        .nav-container {
            padding-left: 36px;
            padding-right: 1%;
        }
        ul li a {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .dropdown-content li > a, .dropdown-content li > span{
        color: $text-secondary;
    }

    .dropdown-content{
        margin-top: 64px;
    }

    .mobile-nav-icon{
        float: left;
    }

    .side-nav a{
        padding: 0 25px;
    }
}



