@import "../variables";

nav {
    background: linear-gradient(90deg, #008ede, #00b4ff); //$color-primary-details; // $color-navbar-two
    letter-spacing: 2px;
    z-index: 9999999999;
    ul a {
        font-size: 1.1rem!important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .desktop-nav {
        padding-bottom: 2px;
    }
    .brand-logo {
        color: $text-primary;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }


    .button-collapse {
        padding-left: 4px;
    }
    
    @media only screen and (min-width: 992px) {
        .nav-container {
            padding-left: 10px;
        }
        ul li a {
            padding-left: 39px;
            padding-right: 35px;
        }
    }
    .dropdown-content li > a, .dropdown-content li > span{
        color: $text-secondary;
    }

    .dropdown-content{
        margin-top: 64px;
    }

    .mobile-nav-icon{
        float: left;
    }

    .side-nav a{
        padding: 0 25px;
    }
}