@import "../variables";


.switch label input[type=checkbox]:checked + .lever:after{
    background-color: $scroll-btn-background;
}

.switch label input[type=checkbox]:checked + .lever{
    background-color: lighten($scroll-btn-background, 40%);
}

#profile {
    background-color: transparent;
    .row .col {
        padding: 0;
    }
    i.small {
        font-size: 1.5rem;
        margin-top: 27px;
    }
    form p {
        margin-bottom: 0 !important;
    }
    .input-field label {
        left: 0;
    }
    .profile-modal-row {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 16px;
        .btn {
            letter-spacing: 3px;
            height: 50px;
        }
    }
    #color-switcher {
        margin-top: 20px;
        margin-left: -42px;
    }
}
#passwordNotEqual{
    color: red;
}

.profile-modal {
    width: 500px;
    top: 15vh !important;
    max-height: 70vh !important;
    @media screen and (max-height: 70vh) {
        overflow-y: scroll !important;
    }
    @media screen and (max-width: 500px) {
        width: 100%;
        height: 100vh;
        top: 0 !important;
        max-height: none !important;
    }
    .modal-content {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
    }
    .cancel-icon {
        position: absolute;
        right: 14px;
        top: 8px;
        z-index: 999999999;
        font-size: 32px;
        color: #6b6b6b;
        font-weight: 100;
    }     
    .btn-floating i {
        font-size: 1.3rem;
        line-height: 30px;
    }
}