@import "../variables";

.text-center {
    text-align: center;
}
#registerback {
    background-color: white;
	margin-top: 1.2rem;
}
.switch label input[type=checkbox]:checked + .lever:after{
    background-color: $scroll-btn-background;
}
.switch label input[type=checkbox]:checked + .lever{
    background-color: lighten($scroll-btn-background, 40%);
}
#registerback {
    background-color: transparent;
    .row .col {
        padding: 0;
    }
    i.small {
        font-size: 1.5rem;
        margin-top: 27px;
    }
    .input-field label {
        left: 0;
    }
    form p {
        margin-bottom: 0 !important;
        font-size: 1rem;
    }
    .register-modal-row {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 16px;
        .btn {
            height: 50px;
        }
    }
}