@import "../variables";


ul.stepper {
   counter-reset: section;
   overflow-y: auto;
   overflow-x: hidden;
}

ul.stepper.horizontal {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

ul.stepper.horizontal:before {
    content: '';
    background-color: transparent;
    width: 100%;
    min-height: 60px;
	position: absolute;
    left: 0;
}

ul.stepper .step {
   position: relative;
}

ul.stepper.horizontal .step {
    position: static;
    margin: 0;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    height: 84px !important;
}

ul.stepper.horizontal>.step:last-of-type, ul.stepper.horizontal>.step[data-last="true"] {
    width: auto !important;
}

ul.stepper.horizontal .step:not(:last-of-type):after, ul.stepper.horizontal>.step.active:not(:last-of-type):after{
    content: '';
    position: static;
    display: inline-block;
    width: 100%;
    height: 1px;
}

ul.stepper .step-title {
   margin: 0 -24px;
   padding: 15.5px 44px 24px 64px;
   display: block;
   will-change: opacity, transform;
}

ul.stepper.horizontal .step.active .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
    background-color: $color-active-step;
	transform: scale(1.2);
	transition: all 0.4s ease-in-out;
}
ul.stepper.horizontal .step.finished .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
    background-color: $color-finished-step;
	transition: all 0.4s ease-in-out;
}

ul.stepper.horizontal .step-title {
    line-height: 102px;
    height: 84px;
    margin: 0;
    padding: 0 25px 0 65px;
    display: inline-block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

ul.stepper.horizontal .step .step-title:before {
    position: absolute;
    top: 28.5px;
    left: 19px;
    counter-increment: section;
    content: counter(section);
    height: 28px;
    width: 28px;
    color: $color-step-font;
    background-color: $color-next-step;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
}

ul.stepper .step.active .step-title {
   font-weight: 500;
}

ul.stepper>.step:not(:last-of-type):after {
   content: '';
   position: absolute;
   top: 50px;
   left: 13.5px;
   width: 1px;
   height: 40%;
   height: calc(100% - 38px);
   background-color: rgba(0,0,0,0.1);
   -webkit-transition: all 0.4s;
   transition: all 0.4s;
}

ul.stepper>.step.active:not(:last-child):after {
   height: 93%;
   height: calc(100% - 12px);
}

ul.stepper>.step:after {
   height: 0;
   width: 0;
}

ul.stepper>.step {
   margin-bottom: 0;
}

.step-tag {
	color: $color-step-icon;
}

@media (max-width: 768px) {
    .step-tag {
    display:none!important;
    }
	ul.stepper.horizontal .step-title {
		padding-left: 35px;
		margin-left: -5px;
	}
}

