//stepper 
.step-by-step {
    position: relative;
    height: 105px;
    margin-bottom: 10px; // ändra detta och calcs för map och lista går åt skogen :)
    span {
        line-height: 33px !important;
        font-weight: 300;
        font-size: 14px;
       
    }
    a {
        line-height: 33px !important;
        margin-top: 3px !important;
    }
    :last-child {
        :last-child {
            :last-child {
                :first-child {
                    
                }
            }
        }
    }
}
.step-by-step  {
    :first-child {
        :first-child > * {
            transition: none !important;
            border-top-width: 2px !important;
            :first-child  {
            transition: all 0.5s ease!important;
            }
            :last-child {
                border-top-width: 2px !important;
            }
            :nth-child(2) {
                font-weight: 500 !important;
            }
            :nth-child(3) {
                border-top-width: 2px !important;
            }
        }
    }
}