@import "variables";


html {
    font-family: 'Source Sans Pro', sans-serif;
    background: $nice-color-emma;
    min-height: 100%;
    position: relative;
}

// Normalize css
* {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
    display: block;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
// SCROLL BAR CUMSTOMIZE

/* Let's get this party started */
/*::-webkit-scrollbar {
    width: 10px;
}
*/
/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,180,220,0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/
