@import "variables";


html {
    font-family: 'Source Sans Pro', sans-serif;
    background: $color-primary; // $nice-color-emma 
    min-height: 100%;
    position: relative;
    color: #505b69;
}

// Normalize css
* {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
    display: block;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

// Nedan är en del av Simons CSS hack för en liten css GoogleMaps mardröm
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}
// Ovan är en del av Simons CSS hack för en liten css GoogleMaps mardröm

//nedan är en klass för att göra scrollbar invisible i webkit-browsers som chrome
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}


// SCROLL BAR CUMSTOMIZE

/* Let's get this party started */
/*::-webkit-scrollbar {
    width: 10px;
}
*/
/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,180,220,0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/
