$gradiant-primary: linear-gradient(446deg, #6cc0e9, #4aafe3);
$nice-color-alex: -webkit-gradient(linear, left top, right top, color-stop(0%, #2193b0), color-stop(100%, #6dd5ed));
$nice-color-emma: -webkit-gradient(linear, left top, right top, color-stop(0%, #38a3fa), color-stop(100%, #058df9));
$color-primary: #f0f0f0;
$color-primary-details: #0592e2;
$color-secondary: darken($color-primary, 10%);
$color-tertiary: darken($color-secondary, 5%);
$text-primary: rgb(255, 255, 255);
$text-secondary: rgba(#015280, 0.87);
$text-tertiary: white;

// Test background colors
$bg-color-test: #003b4e;


//media screen
$break-medium: 1085px;
$break-small: 620px;


//Content
$background-color: rgba(#ffffff, 0.95);
$border-color: rgba(#f4f4f4, 0.82);
$scroll-btn-background: #0592e2;
$scroll-btn-border: #0592e2;


//navbar
$color-navbar: rgba(#0d75c8, 0.31);
$color-navbar-two: rgba(#0579d6, 0.39);


//Step by Step colors
$color-active-step: rgba(5, 87, 129, 0.87);
$color-finished-step: rgba(67, 210, 112, 0.87);
$color-next-step: rgba(0,0,0,0.3);
$color-step-icon: rgba(0,0,0,0.3);
$color-step-font: white;

//create Request
$color-create-request-component: white;

//list colors
$color-location-btn: orange;
$color-primary-btn: #0592e2; //APPLY & CHOOSE buttons

//Chat
$color-message-one: transparentize(#ffa520, 0.4);
$color-message-two: transparentize(#2193b0, 0.6)
